
.header__logo {
    padding: 16px 0;
    transition: 0.3s;
    display: inline-block;

    img {
        max-width: 196px;
        transition: 0.3s;
    }
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    nav {
        width: 100%;
        max-width: calc(100% - 90px);
        flex: 0 0 calc(100% - 90px);
        text-align: right;

        ul {
            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 65px;

                a {
                    color: #000;
                    font-size: 16px;
                    line-height: 140%;
                    text-decoration: none;
                    transition: 0.3s;
                    position: relative;

                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background: #D01F39;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        transition: 0.3s;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .header__language {
        width: 100%;
        max-width: 90px;
        flex: 0 0 90px;
        position: relative;

        span {
            display: block;
            text-transform: uppercase;
            position: relative;
            color: #000;
            font-size: 16px;
            line-height: 140%;
            padding-right: 30px;
            padding-left: 5px;
            cursor: pointer;
            transition: 0.3s;


            &::before {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: #D01F39;
                position: absolute;
                bottom: -3px;
                left: 0;
                right: 0;
                margin: 0 auto;
                transition: 0.3s;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                display: inline-block;
                width: 24px;
                height: 24px;
                position: absolute;
                right: 5px;
                top: -2px;
                background: url('../img/lang-arr.svg') no-repeat center / 100%;

            }
        }

        ul {
            position: absolute;
            background: #fff;
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%;
            top: calc(100% + 3px);
            padding: 5px 5px;
            left: -5px;
            display: none;

            &.active {
                display: block;
            }

            li {
                margin-bottom: 3px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    display: block;
                    text-transform: uppercase;
                    position: relative;
                    color: #000;
                    font-size: 16px;
                    line-height: 140%;
                    padding-right: 30px;
                    padding-left: 5px; 
                    text-decoration: none;
                    transition: 0.3s;

                    &:hover {
                        color: #D01F39;
                    }
                }
            }
        }
    }
}

header.header {
    box-shadow: 0 4px 5px rgba(#8F8F8F, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 13;
    background: #fff;

    &.scroll {
        .header__logo img {
            max-width: 160px;
        }
    }
}

.menubg {
    display: none;
}

@media(max-width:1550.8px) {
    .header__logo img {
        max-width: 170px;
    }

    header.header {
        &.scroll {
            .header__logo {
                padding: 10px 0;

                img {
                    max-width: 140px;
                }
            }
        }
    }
}

@media(max-width:1199.8px) {
    .header__wrapper nav ul {
        margin: 0;
        padding: 0;

        li {
            margin-right: 40px;
        }
    }
}

@media(max-width:991.8px) {
    header.header {

        .container {
            position: relative;
        }
    }

    button.burger {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        width: 24px;
        height: 16px;
        border: none;
        background: transparent;
        z-index: 15;
        cursor: pointer;
        padding: 0;
        margin: 0 0 0 auto;

        &:focus {
            outline: none;
        }

        &:after,
        &:before,
        span {
            width: 100%;
            height: 2px;
            border-radius: 100px;
            position: absolute;
            display: block;
            background: #000;
            right: 0;
        }

        &:after,
        &:before {
            content: "";
            transition: 0.3s width 0.4s;
        }

        &:after {
            top: 0px;
            left: 0px;
            margin-top: 0px;
        }

        &:before {
            bottom: 0px;
            right: 0px;
            margin-bottom: 0px;
        }

        span {
            top: 50%;
            margin-top: -1px;
            transition: 0.3s;

            &:before {
                content: "";
                background: #000;
                width: 100%;
                height: 2px;
                border-radius: 100px;
                position: absolute;
                left: 0px;
                transition: 0.3s;
            }
        }

        &.on {

            &:after {
                transition: all 0.2s;
                width: 0%;
                left: 0px;
                background: #000;
            }

            &:before {
                transition: all 0.2s;
                width: 0%;
                right: 0px;
                background: #000;
            }

            span {
                transform: rotate(45deg);
                transition: 0.3s transform 0.4s;
                background: #000;

                &:before {
                    transform: rotate(-90deg);
                    transition: 0.3s transform 0.4s;
                    background: #000;
                }
            }
        }
    }

    .header__logo img {
        max-width: 120px !important;
    }

    header.header .header__logo {
        padding: 10px 0 !important;
    }

    .header__wrapper {
        transform: translateX(400px);
        transition: 0.5s;
        position: fixed;
        background-color: #EEEDEA;
        background-image: url('../img/Mobile_menu.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% auto;
        right: 0;
        top: 0;
        height: 100vh;
        width: 290px;
        display: block;
        padding: 100px 20px 20px 40px;
        z-index: 2;

        &::after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            height: 10px;
            top: 63px;
            box-shadow: 0 4px 5px rgba(143, 143, 143, 0.2);
        }

        nav {
            ul {
                text-align: left;

                li {
                    display: block;
                    margin-bottom: 36px;
                }
            }
        }

        &.show {
            transform: translateX(0);
        }
        
    }

    .menubg {
        display: block;
        background: rgba(#000, 0.7);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
        visibility: hidden;

        &.active {
            opacity: 1;
            z-index: 1;
            visibility: visible;
        }
    }

    .header__wrapper .header__language span:hover:before {
        display: none;
    }
}

@media(max-width:767.8px) {
    .header__wrapper {
        background-position: bottom -100px center;
    }
}

@media(max-width:767.8px) and (orientation: landscape) {
    .header__wrapper {
        background-position: top center;
    }
}

@media(max-width:575.8px) {
   
}